/* inicio - resetando configs padroes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --amarelo: #ded684;
}
/* final - resetando configs padroes */

body {
    font-family: "Oxanium", sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
}

body::before {
    content: "";
    background-image: linear-gradient(
            to top,
            rgba(65, 65, 0, 0.25),
            rgba(0, 0, 0, 0)
        ),
        url(../background/bg6_50.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

.cabecalho .logo {
    height: 15%;
    width: 15%;
}

.selecaoPersonagem {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    min-height: calc(100vh - 390px);
    justify-content: center;
}

.selecaoPersonagem .listaPersonagem {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.selecaoPersonagem .listaPersonagem .personagem {
    border: #9c9013 solid 0.40rem;
    border-radius: 1rem;
}

.selecaoPersonagem .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    gap: 1.5rem;
}

.selecaoPersonagem .personagens .titulo {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom: var(--amarelo) 2px solid;
    text-align: center;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.listaPersonagem .personagem img {
    margin: -0.05rem;
    border-radius: 0.75rem;
    height: 190px;
    width: 125px;
    cursor: pointer;
}

.personagem {
    height: 190px;
    width: 125px;
}

.listaPersonagem .personagem.selecionado {
    box-shadow: 0rem 0rem 0.75rem 0.5rem var(--amarelo);
}

.personagemSelecionado {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
}

.personagemSelecionado .bannerPersonagem {
    height: 450px;
    width: 300px;
    margin: 0 auto;
}

.personagemSelecionado .nomePersonagem {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom: var(--amarelo) 2px solid;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.personagemSelecionado .descricaoPersonagem {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1.5rem;
    width: 550px;
}

footer {
    color: white;
    font-family: "Oxanium", sans-serif;
    text-align: center;
    margin-top: 10rem;
}

footer p a {
    text-decoration: none;
    color: var(--amarelo);
}

footer p a:hover {
    color: rgb(255, 0, 43);
}
